#recommend{
	background: white;
	border-radius: 5px;
}
#recommend input[type='checkbox']{
	float: left;
	padding: 10px;
	margin: 3px 8px 0px;
}
#recommend .display_hide{
}
#recommend .display_show{
}
#recommend .info_graph{
	min-width:700px;
	height:400px;
	margin:auto;
	margin-top:5px;
	margin-bottom:10px;
}
#recommend .itemsContainer{
	border-color: green;
	border-width: 10px;
	/*background: red;*/
}
#recommend .itemsContainer .item{
	margin:6px;
	width:165px;
	height: 253px;
	overflow: hidden;
	border: 1px solid #e47911;
	float:left;
}
#recommend .itemsContainer .itemInner{
	margin:5px;
	overflow: hidden;
	/*background: yellow;*/
	padding:1.5px;
}
#recommend .itemsContainer .itemInner .productImage{
	width:150px;
	height:160px;
	/*background: green;*/
}
#recommend .itemsContainer .itemInner img{
	display: block;
	position:relative;
	bottom:0;
	max-height: 160px;
	max-width: 150px;
	margin:auto;
}
#recommend .itemsContainer .itemInner .name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#recommend .setting_form{
}

#recommend .setting_form .session_content{
}

#recommend .setting_form .session_content h4{
    margin:10px 0px 10px 180px;
}


#recommend .setting_form .session_content .input_elements{
}

#recommend .setting_form .session_content .input_elements .input_element{
    margin-bottom:20px;
}
#recommend .setting_form .session_content .input_elements .input_element.button_submit input{
    width:84px;
    height:42px;
    float:right;
}
#recommend .setting_form .session_content .input_elements .input_element label{
    width:160px;
    text-align:right;
    float:left;
}
#recommend .setting_form .session_content .input_elements .input_element .element{
    margin:0px 6px 0px 20px;;
    width:740px;
    padding:0px 1px;
    float:left;
}
#recommend .setting_form .session_content .input_result{
    margin-left: 20px;
    margin-right: 20px;
}
#recommend .setting_form .session_content input[type="submit"]{
    min-width:100px;
    min-height:40px;
}


#recommend .a_button a{
    color:black;
	width:100px;
    height:30px;
    display:block;
    line-height:30px;
    text-align:center;
    border-radius:5px;
    background:#676767;
    border: 1px solid #454545;
    text-decoration: none;
}
#recommend .a_button a:hover{
    background: #ababab;
    text-decoration: none;
}
#recommend .a_button a:active{
    background: #12adad;
    text-decoration: none;
}

.splitLine{
	display: block;
	clear:both;
}
